:root {
    --primary: #0E3047;
    --light:#FFFFFF;
    --grey: #efefef;
    
}
body{
    overflow: hidden;
    
}
.bg-primary {background-color:var(--primary)!important}
.bg-light { background-color: var(--light) !important; }
.bg-grey { background-color: var(--grey) !important; }

#sidebar-container{
    position: fixed;
    height: 100%;

}
#menu1 a {
    text-decoration: none;
    

}
#logo{
    padding: .823rem 1.25rem;
}
#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    padding-left: 11rem;
}
blockquote {
    padding-left: 15rem;
}